.mainContainer {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
}
.titleContainer {
    font-family: 'Cochin';
    font-size: 26px;
    font-weight: 700;
    & > p {
        margin-bottom: 0px;
    }
}

.containerChildren {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    position: relative;
    overflow: hidden;
    & .closeIcon {
        position: absolute;
        top: 2px;
        right: 20px;
        z-index: 2;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) and (orientation : landscape) {

    .mainContainer {
        width: 50%;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .mainContainer {
        width: 50%;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1025px) {
    .mainContainer {
        display: flex;
        width: 280px;
    }

}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
  /* Styles */
}