$color-secondary: #fcd400;

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.blackBorderMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 416px;
  border: 5px solid black;
  border-radius: 247px;
}

.backgroundMobile {
  width: 232px;
  height: 375px;
  background-color: $color-secondary;
  border-radius: 238px;
  overflow: hidden;
}

.ferSvgMobile {
  display: flex;
  justify-content: center;
  align-self: center;
  height: inherit;
  margin-top: 80px;
  & > svg {
    width: 90%;
    height: 80%;
  }
}
.backgroundDesktop {
  display: none;
}
.ferSvgDesktop {
  display: none;
}

.backgroundDesktop {
  display: none;
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) and (orientation: landscape) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1025px) {
  .blackBorderMobile {
    display: none;
  }
  .ferSvgMobile {
    display: none;
  }

  .backgroundMobile {
    display: none;
  }
  .blackBorderDesktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 443px;
    height: 698px;
    border: 8px solid black;
    border-radius: 460px;
  }

  .backgroundDesktop {
    display: flex;
    width: 388px;
    height: 629px;
    background-color: $color-secondary;
    border-radius: 238px;
    overflow: hidden;
  }

  .ferSvgDesktop {
    display: flex;
    justify-content: center;
    align-self: center;
    height: inherit;
    margin-top: 336px;
   margin-left: 38px;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}
