.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;
  margin: 24px;
  position: relative;
}

.experienceContainer {
  margin: 64px 24px 24px 24px;
  padding-bottom: 36px;
}
.name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 24px 24px 24px 0px;
  & > h1 {
    font-family: "Cochin";
    font-size: 54px;
    font-weight: 700;
  }
  & > p {
    font-family: "SF UI Display";
    font-size: 12px;
    font-weight: 400;
    margin-top: 0px;
  }
}

.image {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 32px;
}

.description {
  margin-left: 24px;
  margin-right: 24px;
  font-family: "SF UI Display";
  font-size: 16px;
}

.lists {
  margin: 0 24px 24px 24px;
  & > ul {
    margin-left: 0px;
    padding: 0px;
  }
  & > ul > li {
    list-style-type: none;
    margin-left: 0px;
  }
}
.listTitle {
  font-family: "SF UI Display";
  font-size: 16px;
  font-weight: 700;
}

.containerAptitudes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aptitudes {
  background-color: white;
  min-width: 166px;
  text-align: center;
  margin: 10px 0px;
  margin-bottom: 0px;
  padding: 1px 30px;
  & > p {
    font-family: "Cochin";
    font-weight: 700;
    font-size: 16px;
    margin-top: 6px;
    margin-bottom: 6px;
  }
}

.hablamos {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & > p {
    margin-bottom: 0px;
  }
}
.desktopFirstRow {
  background-color: #fcd400;
  height: auto;
  // margin-left: 0px;
  padding-bottom: 32px;
  margin-top: -72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
.image {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  // margin-left: 32px;

  & > img {
    width: 80%;
  }
}

.herraminentasContainer {
  width: 100%;
  padding-left: 24px;
  padding-top: 32px;
}

.emailButtonDesktop {
  margin-top: -18px;
  position: relative;
  height: 116px;
  & > p {
    padding-left: 32px;
  }
}
.ferEmailCopied {
  position: absolute;
  height: 110px;
  left: 0;
  right: 0;
  bottom: 2;
  margin-left: auto;
  margin-right: auto;
  overflow-y: hidden;
  display: none;
  & > img {
    width: 100%;
    height: 120px;
  }
}
.copiedMessage {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  border-radius: 20px 20px 20px 0px;
  padding: 12px;
  opacity: 0;
  & span {
    font-family: "Cochin";
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) and (orientation: landscape) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1025px) {
  .desktopRows {
    display: flex;
    margin-right: 36px;
  }
  .desktopSecondRow {
    margin-top: -60px;
  }

  .image {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 0px;
    display: flex;
    justify-content: flex-start;
    // margin-left: 32px;

    & > img {
      width: 365px;
    }
  }

  .desktopFirstRow {
    background-color: #fcd400;
    height: auto;
    margin-left: 0px;
    padding-bottom: 32px;
    padding-left: 64px;
    padding-right: 32px;
    margin-top: -72px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 33%;
    min-width: 472px;
    min-height: 100vh;
  }

  .desktopThirdRow {
    margin-top: 24px;
  }

  .experienceContainer {
    margin-top: 24px;
  }

  .name {
    margin-bottom: 0px;
    & > h1 {
      font-size: 58px;
      line-height: 68px;
    }
    & > p {
      font-size: 20px;
    }
  }

  .description {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    max-width: 365px;
  }

  .hablamos {
    margin-left: 0px;
  }
  .hablamos > p {
    margin-top: 16px;
    margin-bottom: -8px;
    margin-left: -26px;
  }

  .emailButtonDesktop {
    margin-top: -18px;
    position: relative;
    & > p {
      padding-left: 32px;
    }
  }
  .ferEmailCopied {
    position: absolute;
    height: 110px;
    left: 0;
    right: 0;
    bottom: 2px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
    display: none;

    & > img {
      width: 100%;
      height: 120px;
    }
  }

  .copiedMessage {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    border-radius: 20px 20px 20px 0px;
    padding: 12px;
    opacity: 0;
    & span {
      font-family: "Cochin";
    }
  }

  .herraminentasContainer {
    padding-left: 0px;
    padding-top: 0px;
    margin-bottom: 16px;
  }
  .listTitle {
    margin-top: 32px;
    // margin-left: 32px;
  }
  .herramientasList {
    font-weight: 700;
    & > p {
      // margin-left: 32px;
    }
  }

  .idiomasList {
    // margin-left: 32px;
  }

  .containerAptitudes {
    align-items: flex-start;
    // margin-left: 32px;
  }
  .desktopAptitudesByPairs {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: fit-content;
    & > p {
      margin-top: 6px;
      margin-bottom: 6px;
    }
    & .aptitudes {
      background-color: white;
    }
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}
