.mirrorContainer {
  margin-bottom: 24px;
}

.main {
  min-height: 100vh;
  width: 100vw;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leftContainer {
  display: none;
}

.rightContainer {
  display: none;
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) and (orientation: landscape) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1025px) {
  .mobileElements {
    display: none;
  }

  .leftContainer {
    display: flex;
    flex-direction: column;
    width: 33%;
  }

  .containerGlobo {
    width: 100%;
    position: relative;
    margin-bottom: 186px;
  }
  .containerGloboSoyYo {
    width: 300px;
    position: relative;
    top: 160px;
    left: -234px;
    & .soyYo {
      font-family: "SF UI Display";
      font-weight: 500;
      font-size: 35px;
      position: relative;
      top: 44px;
      right: 30px
    }
  }
  .bocadillo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -86px;
    & > svg {
      position: absolute;
      top: 50px;
      right: 96px;
    }
    & .globoMessage {
      position: absolute;
      top: 0;
      right: 80px;
    }
  }
  .hola {
    font-size: 80px;
    font-family: "SF UI Display";
    padding-right: 13px;
    
  }

  .aboutBocadillo {
    font-size: 21px;
    position: relative;
    top: -13px;
    max-width: 194px;
    left: -10px;

  }

  .portfolioBocadillo {
    font-size: 24px;
    position: relative;
    top: 8px;
    left: 10px;
  }

  .contactoBocadillo {
    position: relative;
    top: 2px;
    left: -10px;
    font-size: 42px;
  }

  .rightContainer {
    display: flex;
    flex-direction: column;
    width: 33%;
  }

  .main {
    flex-direction: row;
  }

  .rightButtons {
    width: fit-content;
    margin: 0 auto;
  }
  .DesktopSidebar {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    display: block;
    width: 35%;
    height: 100%;
    background-color: #fcd400;
  }

  .closeIconSidebar {
    position: absolute;
    right: 64px;
    top: 50%;
    cursor: pointer;
  }

  .name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    margin: 0 auto;
    padding-top: 32px;
    & > h1 {
      font-family: "Cochin";
      font-size: 79px;
      line-height: 68px;
      font-weight: 700;
      width: 330px;
    }
    & > p {
      font-family: "SF UI Display";
      font-size: 20px;
      font-weight: 400;
      margin-top: 0px;
    }
  }
  .sidebarButtonsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 337px;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}
