.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FCD400;
    height: 237px;
    width: 100vw;
    font-family: 'SF UI Display';
    & > p {
        margin-bottom: 0px;
    }
}

.elementContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -42px;
}